{% extends 'base.html'%}
{% load static %}
{% block body %}

    <!--  ======================= Start Banner Area =======================  -->
        <section class="site-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 site-title">
                        <h3 class="title-text">Hey</h3>
                        <h1 class="title-text text-uppercase">I am {{my.name}}</h1>
                        <h4 class="title-text text-uppercase">{{my.designation}}</h4>
                        <div class="site-buttons">
                            <div class="d-flex flex-row flex-wrap">
                                <button type="button" class="btn button primary-button mr-4 text-uppercase">hire
                                    me</button>
                                <a href="{{my.get_cv}}"><button type="button" class="btn button secondary-button text-uppercase">Get cv</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 banner-image">
                        <img src="{% static 'images/banner-image.png' %}" alt="banner-img" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>
        <!--  ======================= End Banner Area =======================  -->

        <!--  ========================= About Area ==========================  -->

        <section class="about-area" id="about">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-image">
                            <img src="{% static 'images/about-us.png' %}" alt="About us" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 about-title">
                        <h2 class="text-uppercase pt-5">
                            <span>Let me</span>
                            <span>introduce</span>
                            <span>myself</span>
                        </h2>
                        <div class="paragraph py-4 w-75">
                            <p class="para">
                                {{my.description1}}
                            </p>
                            <p class="para">
                                {{my.description2}}
                            </p>
                        </div>
                        <a href="{{my.download_cv}}"><button type="button" class="btn button primary-button text-uppercase">Download cv</button></a>
                    </div>
                </div>
            </div>
        </section>

        <!--  ========================= End About Area ==========================  -->

        <!--  ======================== Brand Area ==============================  -->

        <section class="brand-area" id="contact">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-12">
                        <div class="first-row row">
                            {% for skill in skills %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="single-brand">
                                    <img src="{{skill.thumbnail.url}}" alt="Brand-1 ">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12">
                        <div class="experience-area">
                            <div class="d-flex flex-row years-area">
                                <h2 class="p-3 years">{{my.experience}}</h2>
                                <h2>
                                    <span>Years</span>
                                    <span>Working</span>
                                    <span>Experience</span>
                                </h2>
                            </div>
                            <div class="d-flex flex-row flex-wrap call-area">
                                <span><i class="fas fa-phone-alt fa-3x px-3"></i></span>
                                <div class="call-now">
                                    <a class="text-uppercase h4 font-roboto">Call Now</a>
                                    <span class="font-roboto py-2">(+91)-{{my.mobile_number}}</span>
                                </div>
                            </div>
                            <div class="bg-panel"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--  ======================== End Brand Area ==============================  -->


        <!--  ======================= Project Area =============================  -->

        <section class="project-area" id="portfolio">
            <div class="container">
                <div class="project-title pb-5">
                    <h1 class="text-uppercase title-h1">Personal Project</h1>
                </div>


                <div class="row grid">
                    {% for project in projects %}
                    <div class="col-lg-4 col-md-6 col-sm-12 element-item latest">
                        <div class="our-project">
                            <div class="img" style="text-align:center">
                                <a href="{{project.link}}">
                                    <img src='{{project.thumbnail.url}}' alt="portfolio-1" class="img-fluid" width="250" height="300">
                                </a>
                                <div class="title py-4" >
                                    <h4 class="text-uppercase" >{{project.name}}</h4>
                                    <span class="text-secondary">{{project.technology_used}}</span>
                                    <br> <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

{% endblock %}