{% extends 'base.html'%}
{% load static %}

{%block body%}

 <section class="project-area">
            <div class="container">
                <div class="project-title pb-5">
                    <h1 class="text-uppercase title-h1">Recently Done Project</h1>
                </div>

                <div class="row grid">
                    <div class="col-lg-4 col-md-6 col-sm-12 element-item latest">
                        <div class="our-project">
                            <div class="img">
                                <a class="test-popup-link" href="./img/portfolio/p1.jpg">
                                    <img src="{% static 'img/portfolio/p1.jpg' %}" alt="portfolio-1" class="img-fluid">
                                </a>
                            </div>
                            <div class="title py-4">
                                <h4 class="text-uppercase">Minimul Desing</h4>
                                <span class="text-secondary">Latest, Portfolio</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{%endblock%}