{% extends 'base.html'%}
{% load static %}
{% block body %}

    <!-- Custom Style-->
    <link rel="stylesheet" href="{% static 'css/Login_Style.css' %}">
    <br><br>
    <div class="container">
        <div class="panel">
            <div class="row">
                <div class="col liquid">

                    <!-- Owl-Carousel -->

                    <div class="owl-carousel owl-theme">
                        <img src="{% static 'images/undraw_fingerprint_swrc.svg' %}" alt="" class="login_img">
                    </div>
                    {% for message in messages%}
                        <p>{{message}}</p>
                    {% endfor %}

                    <!-- /Owl-Carousel -->

                </div>
                <div class="col login">
                    <a href="/login"><button type="button" class="btn btn-signup">Already a member ? Sign in</button></a>
                    <form action="signup" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" placeholder="First name" class="form-input" name="first_name">
                            <div class="input-icon">
                                <i class="fas fa-id-card"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Last name" class="form-input" name="last_name">
                            <div class="input-icon">
                                <i class="fas fa-id-card"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Email" class="form-input" name="email">
                            <div class="input-icon">
                                <i class="fas fa-user-edit"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Username" class="form-input" name="username">
                            <div class="input-icon">
                                <i class="fas fa-user-tie"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-input" name="password">
                            <div class="input-icon">
                                <i class="fas fa-user-lock"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Confirm Password" class="form-input" name="confirm_password">
                            <div class="input-icon">
                                <i class="fas fa-user-lock"></i>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-login">Sign up</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

         <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>


    <script>
        $(document).ready(function () {

            $('.owl-carousel').owlCarousel({
                autoplay: true,
                items: 1
            });
        });
    </script>

{% endblock %}